<div class="table-responsive">
  <table *ngIf="master_data" class="table table-striped b-t b-b"
         cellpadding="2" cellspacing="2">
    <thead>
    <tr>
      <th></th>
      <th>#
        <i [hidden]="!isAsc" (click)="sortIndex('DESC')" class="fa fa-sort-desc"></i>
        <i [hidden]="isAsc" (click)="sortIndex('ASC')" class="fa fa-sort-asc"></i>
      </th>
      <ng-container *ngFor="let key of header_master | ObjNgFor">
        <th *ngIf="visible(key)">
          {{header_master[key]['title']}}
          <i class="fa fa-sort-desc" *ngIf="header_master[key].isDesc"
             (click)="sortPropName(header_master[key]['data_type'], 'DESC', key)"></i>
          <i class="fa fa-sort-asc" *ngIf="header_master[key].isAsc"
             (click)="sortPropName(header_master[key]['data_type'], 'ASC', key)"></i>
        </th>
      </ng-container>
    </tr>
    </thead>
    <tbody *ngFor="let master of pagedItems; let i = index">
    <tr (click)="setClickedRow(i)" [class.active]="i == selectedRow">
      <td>
        <button (click)=showDetail(master.id) class="btn btn-sm btn-info">
          <i class="fa fa-plus text"></i>
          <span class="text">More</span>
          <i class="fa fa-minus text-active"></i>
          <span class="text-active">Less</span>
        </button>
      </td>
      <td>{{i + 1}}</td>
      <ng-container *ngFor="let key of header_master | ObjNgFor">
        <td *ngIf="visible(key)" [innerHTML]="master[key] | safeHtml"></td>
      </ng-container>
    </tr>
    <tr *ngIf="activeRow==master.id">
      <td colspan="6">
        <div class="table-responsive">
          <table *ngIf="detail" class="table table-striped b-t b-b"
                 cellpadding="2" cellspacing="2">
            <thead>
            <tr>
              <th style="width: 20%">
                <span class="label label-default">Chi tiết</span>
              </th>
              <th *ngFor="let key of header_detail | ObjNgFor">{{header_detail[key]['title']}}</th>
            </tr>
            </thead>
            <tbody *ngFor="let dt of detail">
            <tr class="success">
              <td></td>
              <td *ngFor="let key1 of header_detail | ObjNgFor" [innerHTML]="dt[key1] | safeHtml"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="text-right">
  <!-- Pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">Đầu</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Trước</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Sau</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Cuối</a>
    </li>
  </ul>
</div>