.table tbody tr.active td {
    background-color:#123456 !important;
    color: white;
}

.table tbody tr.highlight-dark td {
    background-color: #3a3f51;
    border-color: #3a3f51;
    color:#eeeeee;
}