<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <span class="m-n font-thin h3" style="font-size: 2em">{{title}}</span>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i
                class="glyphicon glyphicon-import icon text-primary-lter"></i> Nạp tiền</a></li>
            <li><a data-toggle="tab" href="#menu4"><i
                class="glyphicon glyphicon-shopping-cart icon text-success-lter"></i> Số dư TK</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Điều kiện lọc
                    </div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="radio" *ngFor="let rd of range_date">
                              <label class="i-checks">
                                <input type="radio" name="range_date" [value]="rd.value"
                                       (change)="filter_ReportDps.range = rd.value">
                                <i></i>
                                {{rd.name}}
                              </label>
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="row">
                              <div class="col-md-3">
                                <label>Từ</label>
                                <datetime [ngModel]="datepicker_from"
                                          name="datepicker_from"
                                          (dateChange)="clearDate($event, 'from')"
                                          (ngModelChange)="handleDateFromChange($event)"
                                          [timepicker]="false"
                                          [datepicker]="datepickerSettings"></datetime>
                              </div>
                              <div class="col-md-3">
                                <label>Đến</label>
                                <datetime [(ngModel)]="datepicker_to"
                                          name="datepicker_to"
                                          (dateChange)="clearDate($event, 'to')"
                                          [timepicker]="false"
                                          [datepicker]="datepickerToOpts"></datetime>
                              </div>
                              <div class="col-md-3">
                                <label>{{_deviceCaptionService.card}}</label>
                                <autocomplete [name]="'code'" [data]="cards"
                                              [(ngModel)]="filter_ReportDps.card_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>{{_deviceCaptionService.cdm}}</label>
                                <autocomplete [name]="'name'" [data]="cdms"
                                              [(ngModel)]="filter_ReportDps.cdm_id"></autocomplete>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <label>Đại lý</label>
                                <autocomplete [name]="'name'" [data]="distributors"
                                              [(ngModel)]="filter_ReportDps.distributor_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>Khách vãng lai</label>
                                <autocomplete [name]="'phone'" [data]="visitors"
                                              [(ngModel)]="filter_ReportDps.visitor_id"></autocomplete>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <button type="button"
                                    class="btn m-b-xs w-xs btn-info btn-rounded"
                                    (click)="searchReportDps()">Tìm kiếm
                            </button>
                            <button class="btn m-b-xs w-xs btn-success btn-rounded"
                                    (click)="downloadFile('dps')">Xuất file
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Báo cáo nạp tiền
                    </div>
                    <div class="panel-body">
                      <spinner-fb [isLoading]="isLoading_Dps"></spinner-fb>
                      <xdatatable [action]="action_data" [body]="report_dpss"
                                  [header]="header_dps"></xdatatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu4" class="tab-pane fade">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Điều kiện lọc
                    </div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-3">
                            <label>Đại lý</label>
                            <autocomplete [name]="'name'" [data]="distributors"
                                          [(ngModel)]="filter_ReportBalance.distributor_id"></autocomplete>
                          </div>
                          <div class="col-md-3">
                            <label>Khách vãng lai</label>
                            <autocomplete [name]="'phone'" [data]="visitors"
                                          [(ngModel)]="filter_ReportBalance.visitor_id"></autocomplete>
                          </div>
                          <div class="col-md-3">
                            <label>{{_deviceCaptionService.card}}</label>
                            <autocomplete [name]="'code'" [data]="cards"
                                          [(ngModel)]="filter_ReportBalance.card_id"></autocomplete>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <button type="button"
                                    class="btn m-b-xs w-xs btn-info btn-rounded"
                                    (click)="searchReportBalance()">Tìm kiếm
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Báo cáo số dư TK
                    </div>
                    <div class="panel-body">
                      <spinner-fb [isLoading]="isLoading_Balance"></spinner-fb>
                      <master-detail [setup]="setup" [header_master]="header_master"
                                     [header_detail]="header_detail"
                                     [master]="report_balances"
                                     [detail]="report_balance_details"></master-detail>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->
