<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <span class="m-n font-thin h3" style="font-size: 2em">{{title}}</span>
          <div class="pull-right">
            <button class="btn m-b-xs btn-rounded btn-default btn-addon"
                    (click)="refreshData()"><i class="fa fa-refresh"></i>Refresh
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i
                class="glyphicon glyphicon-th-list icon text-primary-lter"></i> Tất cả</a></li>
            <li><a data-toggle="tab" href="#menu2"><i
                class="glyphicon glyphicon-edit icon text-success-lter"></i> Thêm/Cập nhật</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Điều kiện lọc
                    </div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="radio" *ngFor="let rd of range_date">
                              <label class="i-checks">
                                <input type="radio" name="range_date" [value]="rd.value"
                                       (change)="filtering.range = rd.value">
                                <i></i>
                                {{rd.name}}
                              </label>
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="row">
                              <div class="col-md-3">
                                <label>Từ</label>
                                <datetime [ngModel]="datepicker_from" name="datepicker_from"
                                          (dateChange)="clearDate($event, 'from')"
                                          (ngModelChange)="handleDateFromChange($event)" [timepicker]="false"
                                          [datepicker]="datepickerSettings"></datetime>
                              </div>
                              <div class="col-md-3">
                                <label>Đến</label>
                                <datetime [(ngModel)]="datepicker_to" name="datepicker_to"
                                          (dateChange)="clearDate($event, 'to')"
                                          [timepicker]="false"
                                          [datepicker]="datepickerToOpts"></datetime>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <button class="btn m-b-xs w-xs btn-info btn-rounded"
                                    type="button"
                                    (click)="search()">Tìm kiếm
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Danh sách {{title}}
                    </div>
                    <div class="panel-body">
                      <spinner-fb [isLoading]="isLoading"></spinner-fb>
                      <xdatatable [body]="cost_oils" [header]="header"
                                  (onClicked)="actionCrud($event)"></xdatatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" id="menu2" class="tab-pane fade">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">Thêm/Cập nhật {{title}}</div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-1">

                          </div>
                          <div class="col-md-6">
                            <div class="row">
                              <div class="col-md-6">
                                <label>Xe</label>
                                <xautocomplete [data]="trucks"
                                               [name]="'area_code_number_plate'"
                                               [model_name]="'id'"
                                               [(value)]="cost_oil.truck_id">
                                </xautocomplete>
                              </div>
                              <div class="col-md-6"></div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label>Ngày đổ</label>
                                <datetime [timepicker]="false"
                                          [datepicker]="datepickerSettings"
                                          [(ngModel)]="refuel_date"
                                          name="refuel_date"></datetime>
                              </div>
                              <div class="col-md-6">
                                <label>Giờ đổ</label>
                                <datetime [timepicker]="timepickerSettings"
                                          [datepicker]="false"
                                          [(ngModel)]="refuel_time"
                                          name="refuel_time"></datetime>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <label>Số lít</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="cost_oil.quantum_liter" name="quantum_liter">
                              </div>
                              <div class="col-md-6">
                                <label>Đơn giá</label>
                                <currency [ngModel]="cost_oil.unit_price" name="unit_price"></currency>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-6">
                                <label>Thành tiền</label>
                                <currency [(ngModel)]="cost_oil.money" name="money"></currency>
                              </div>
                              <div class="col-md-6">
                                <label>VAT</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="cost_oil.vat" name="vat">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <label>Tiền trả</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="cost_oil.after_vat" name="after_vat">
                              </div>
                              <div class="col-md-6">
                                <label>Ghi chú</label>
                                <input type="text" class="form-control"
                                       [(ngModel)]="cost_oil.note" name="note">
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-offset-2 col-md-10">
                                <br>
                                <button *ngIf="!isEdit" type="button"
                                        class="btn m-b-xs w-xs btn-primary btn-rounded"
                                        (click)="addOne()">Thêm
                                </button>
                                <button *ngIf="isEdit" type="button"
                                        class="btn m-b-xs w-xs btn-warning btn-rounded"
                                        (click)="updateOne()">Cập nhật
                                </button>
                                <button *ngIf="isEdit" type="button"
                                        class="btn m-b-xs btn-rounded btn-default btn-addon"
                                        (click)="displayEditBtn(false)"><i
                                    class="fa fa-ban"></i>Hủy
                                </button>
                                <button *ngIf="!isEdit" type="button"
                                        class="btn m-b-xs btn-rounded btn-default btn-addon"
                                        (click)="clearOne()"><i
                                    class="fa fa-eraser"></i>Làm mới
                                </button>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-5"></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <modal [objectData]="modal" (onClicked)="confirmDeactivateOne($event)"></modal>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->



