<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <span class="m-n font-thin h3" style="font-size: 2em">Phân sản phẩm vào {{_deviceCaptionService.tray}}</span>
          <div class="pull-right">
            <button class="btn m-b-xs btn-rounded btn-default btn-addon"
                    (click)="refreshData()"><i class="fa fa-refresh"></i>Refresh
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i
                class="glyphicon glyphicon-th-list icon text-primary-lter"></i> Tất cả</a></li>
            <li><a data-toggle="tab" href="#menu2"><i
                class="glyphicon glyphicon-edit icon text-success-lter"></i> Thêm</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Điều kiện lọc
                    </div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="radio" *ngFor="let rd of range_date">
                              <label class="i-checks">
                                <input type="radio" name="range_date" [value]="rd.value"
                                       (change)="filtering.range = rd.value">
                                <i></i>
                                {{rd.name}}
                              </label>
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="row">
                              <div class="col-md-3">
                                <label>Từ</label>
                                <datetime [ngModel]="datepicker_from" name="datepicker_from"
                                          (dateChange)="clearDate($event, 'from')"
                                          (ngModelChange)="handleDateFromChange($event)" [timepicker]="false"
                                          [datepicker]="datepickerSettings"></datetime>
                              </div>
                              <div class="col-md-3">
                                <label>Đến</label>
                                <datetime [(ngModel)]="datepicker_to" name="datepicker_to"
                                          (dateChange)="clearDate($event, 'to')"
                                          [timepicker]="false"
                                          [datepicker]="datepickerToOpts"></datetime>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <label>Bộ trung tâm</label>
                                <autocomplete [data]="io_centers" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.io_center_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>Đại lý</label>
                                <autocomplete [data]="distributors" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.distributor_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>{{_deviceCaptionService.cabinet}}</label>
                                <autocomplete [data]="cabinets" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.cabinet_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>Sản phẩm</label>
                                <autocomplete [data]="products" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.product_id"></autocomplete>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <button class="btn m-b-xs w-xs btn-info btn-rounded"
                                    type="button"
                                    (click)="search()">Tìm kiếm
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Danh sách {{_deviceCaptionService.tray}} đã phân sản phẩm
                    </div>
                    <div class="panel-body">
                      <button id="btn-show-modal1" data-toggle="modal" data-target="#modal-update" hidden></button>
                      <spinner-fb [isLoading]="isLoading"></spinner-fb>
                      <xdatatable [body]="tray_products" [header]="header"
                                  (onClicked)="actionCrud($event)"></xdatatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">Phân sản phẩm vào {{_deviceCaptionService.tray}}</div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">{{_deviceCaptionService.tray}}:</label>
                              <div class="col-sm-10">
                                <div class="checkbox" *ngFor="let tray of trays">
                                  <label class="i-checks">
                                    <input #traycb type="checkbox" (change)="checkTray(traycb.checked, tray.id)">
                                    <i></i>
                                    {{ tray.name }} | {{ tray.code }} | {{ tray.description }}
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Sản phẩm:</label>
                              <div class="col-sm-10">
                                <select [(ngModel)]="tray_product.product_id" name="product_id"
                                        class="form-control m-b">
                                  <option *ngFor="let product of products" value="{{ product.id }}">
                                    {{ product.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn m-b-xs w-xs btn-primary btn-rounded" (click)="saveTrayProduct()">
                                  Lưu
                                </button>
                                <button class="btn m-b-xs btn-rounded btn-default btn-addon"
                                        (click)="displayEditBtn(false)"><i class="fa fa-eraser"></i>Làm mới
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <modal [objectData]="modal" (onClicked)="confirmDeactivateOne($event)"></modal>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="modal-update" class="modal fade" role="dialog" tabindex="-1">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h3 class="modal-title">Cập nhật số lượng sản phẩm</h3>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="form-group">
                      <label class="control-label">Đại lý:</label>
                      <input type="text" class="form-control"
                             [ngModel]="modal_update.distributor_name"
                             name="distributor_name" readonly>
                    </div>
                    <div class="form-group">
                      <label class="control-label">{{_deviceCaptionService.cabinet}}:</label>
                      <input type="text" class="form-control"
                             [ngModel]="modal_update.cabinet_name"
                             name="cabinet_name" readonly>
                    </div>
                    <div class="form-group">
                      <label class="control-label">{{_deviceCaptionService.tray}}:</label>
                      <input type="text" class="form-control"
                             [ngModel]="modal_update.tray_name"
                             name="tray_name" readonly>
                    </div>
                    <div class="form-group">
                      <label class="control-label">Số lượng hiện tại:</label>
                      <input type="text" class="form-control"
                             [(ngModel)]="tray_product_update.total_quantum"
                             name="total_quantum">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-default" data-dismiss="modal">Hủy</button>
                  <button class="btn btn-primary" (click)="updateOne()">OK</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->
