<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <span class="m-n font-thin h3" style="font-size: 2em">{{title}}</span>
          <div class="pull-right">
            <button class="btn m-b-xs btn-rounded btn-default btn-addon"
                    (click)="refreshData()"><i class="fa fa-refresh"></i>Refresh
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-sm-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i
                class="glyphicon glyphicon-th-list icon text-primary-lter"></i> Tất cả</a></li>
            <li><a data-toggle="tab" href="#menu2"><i
                class="glyphicon glyphicon-edit icon text-success-lter"></i> Thêm/Cập nhật</a></li>
          </ul>

          <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Điều kiện lọc
                    </div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="radio" *ngFor="let rd of range_date">
                              <label class="i-checks">
                                <input type="radio" name="range_date" [value]="rd.value"
                                       (change)="filtering.range = rd.value">
                                <i></i>
                                {{rd.name}}
                              </label>
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="row">
                              <div class="col-md-3">
                                <label>Từ</label>
                                <datetime [ngModel]="datepicker_from" name="datepicker_from"
                                          (dateChange)="clearDate($event, 'from')"
                                          (ngModelChange)="handleDateFromChange($event)" [timepicker]="false"
                                          [datepicker]="datepickerSettings"></datetime>
                              </div>
                              <div class="col-md-3">
                                <label>Đến</label>
                                <datetime [(ngModel)]="datepicker_to" name="datepicker_to"
                                          (dateChange)="clearDate($event, 'to')"
                                          [timepicker]="false"
                                          [datepicker]="datepickerToOpts"></datetime>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <label>Bộ trung tâm</label>
                                <autocomplete [name]="'code'" [data]="io_centers_search" [model_name]="'id'"
                                              [(ngModel)]="filtering.io_center_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>Khách hàng</label>
                                <autocomplete [name]="'name'" [data]="suppliers" [model_name]="'id'"
                                              [(ngModel)]="filtering.supplier_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>Đại lý</label>
                                <autocomplete [name]="'name'" [data]="distributors" [model_name]="'id'"
                                              [(ngModel)]="filtering.distributor_id"></autocomplete>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <button class="btn m-b-xs w-xs btn-info btn-rounded"
                                    type="button"
                                    (click)="search()">Tìm kiếm
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Danh sách {{title}}
                    </div>
                    <div class="panel-body">
                      <!--<spinner [isLoading]="isLoading"></spinner>-->
                      <spinner-fb [isLoading]="isLoading"></spinner-fb>
                      <xdatatable [body]="io_centers" [header]="header"
                                  (onClicked)="actionCrud($event)"></xdatatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" id="menu2" class="tab-pane fade">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">Thêm/Cập nhật {{title}}</div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Mã</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="io_center.code" name="code">
                                <span class="help-block m-b-none">VD: IO123ABC</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Tên</label>
                              <div class="col-lg-10">
                                <input type="text" class="form-control"
                                       [(ngModel)]="io_center.name" name="name">
                                <span class="help-block m-b-none">VD: IO Easy Center 1</span>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-lg-2 control-label">Đại lý</label>
                              <div class="col-lg-10">
                                <select [(ngModel)]="io_center.dis_id"
                                        name="dis_id" class="form-control m-b">
                                  <option *ngFor="let distributor of distributors"
                                          value="{{ distributor.id }}">
                                    {{ distributor.name }}
                                  </option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <div class="col-lg-offset-2 col-lg-10">
                                <button *ngIf="!isEdit" type="button"
                                        class="btn m-b-xs w-xs btn-primary btn-rounded"
                                        (click)="addOne()">Thêm
                                </button>
                                <button *ngIf="isEdit" type="button"
                                        class="btn m-b-xs w-xs btn-warning btn-rounded"
                                        (click)="updateOne()">Cập nhật
                                </button>
                                <button *ngIf="isEdit" type="button"
                                        class="btn m-b-xs btn-rounded btn-default btn-addon"
                                        (click)="displayEditBtn(false)"><i
                                    class="fa fa-ban"></i>Hủy
                                </button>
                                <button *ngIf="!isEdit" type="button"
                                        class="btn m-b-xs btn-rounded btn-default btn-addon"
                                        (click)="clearOne()"><i
                                    class="fa fa-eraser"></i>Làm mới
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <modal [objectData]="modal" (onClicked)="confirmDeactivateOne($event)"></modal>
        </div>
      </div>
      <!--<div class="row">-->
      <!--<div class="col-sm-12">-->
      <!--<div class="panel panel-default">-->
      <!--<div class="panel-heading font-bold">ABC</div>-->
      <!--<div class="panel-body">-->
      <!--<datatable [dataset]="io_centers"  [enableFilter]="true">-->
      <!--<column [value]="'id'" [header]="'Id'"></column>-->
      <!--<column [value]="'code'" [header]="'Code'"></column>-->
      <!--<column [value]="'name'" [header]="'Name'"></column>-->
      <!--</datatable>-->
      <!--<div class="text-right">-->
      <!--<pagination [totalItems]="totalRecords"-->
      <!--[pageSize]="pageSize"-->
      <!--(pageChanged)="pageChanged($event)"></pagination>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
<!-- /content -->



