<div class="container w-xxl w-auto-xs">
    <a class="navbar-brand block m-t">Đổi mật khẩu</a>
    <div class="m-b-lg">
        <form class="form-validation">
            <div class="text-danger wrapper text-center">

            </div>
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input [(ngModel)]="data.password" name="password" type="password" placeholder="Mật khẩu hiện tại" class="form-control no-border" required>
                </div>
                <div class="list-group-item">
                    <input [(ngModel)]="data.new_password" name="new_password" type="password" placeholder="Mật khẩu mới" class="form-control no-border" required>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" (click)="changePassword()">Hoàn tất</button>
        </form>
    </div>
</div>