<div class="input-group m-b">
  <span (click)="clear()" class="input-group-addon"><i class="fa fa-refresh"></i></span>
  <input #input type="text" class="form-control input-list"
         [placeholder]="placeholder"
         [(ngModel)]="query"
         (keyup)="filter($event)">
  <span (click)="showAll(input)" class="input-group-addon"><i class="fa fa-sort-desc" aria-hidden="true"></i></span>
</div>

<ul *ngIf="filteredList.length > 0" id="list-group" class="list-group group-list">
  <li *ngFor="let item of filteredList" class="list-group-item item-list"
      [class.active]="item.selected"
      [id]="item.selected"
      (click)="select(item)">
    {{ item[name] }}
  </li>
</ul>

<!--<p *ngIf="selectedItem">Selected: {{ selectedItem | json }}</p>-->