<!-- content -->
<div id="content" class="app-content" role="main">
  <div class="app-content-body ">
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <span class="m-n font-thin h3" style="font-size: 2em">{{title}}</span>
          <div class="pull-right">
            <button class="btn m-b-xs btn-rounded btn-default btn-addon"
                    (click)="refreshData()"><i class="fa fa-refresh"></i>Refresh
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="wrapper-md">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#home"><i
                    class="glyphicon glyphicon-th-list icon text-primary-lter"></i> Tất cả</a></li>
            <li><a data-toggle="tab" href="#menu2"><i
                    class="glyphicon glyphicon-edit icon text-success-lter"></i> Thêm</a></li>
          </ul>

          <div class="tab-content">
            <div role="tabpanel" id="home" class="tab-pane fade in active">
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Điều kiện lọc
                    </div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-2">
                            <div class="radio" *ngFor="let rd of range_date">
                              <label class="i-checks">
                                <input type="radio" name="range_date" [value]="rd.value"
                                       (change)="filtering.range = rd.value">
                                <i></i>
                                {{rd.name}}
                              </label>
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="row">
                              <div class="col-md-3">
                                <label>Từ</label>
                                <datetime [ngModel]="datepicker_from" name="datepicker_from"
                                          (dateChange)="clearDate($event, 'from')"
                                          (ngModelChange)="handleDateFromChange($event)" [timepicker]="false"
                                          [datepicker]="datepickerSettings"></datetime>
                              </div>
                              <div class="col-md-3">
                                <label>Đến</label>
                                <datetime [(ngModel)]="datepicker_to" name="datepicker_to"
                                          (dateChange)="clearDate($event, 'to')"
                                          [timepicker]="false"
                                          [datepicker]="datepickerToOpts"></datetime>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <label>Loại</label>
                                <select [(ngModel)]="filtering.dis_or_sup" name="dis_or_sup" class="form-control m-b">
                                  <option value="sup">Khách hàng</option>
                                  <option value="dis">Đại lý</option>
                                </select>
                              </div>
                              <div class="col-md-3">
                                <label>Khách hàng</label>
                                <autocomplete [data]="suppliers" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.supplier_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>Đại lý</label>
                                <autocomplete [data]="distributors" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.distributor_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>Chức vụ</label>
                                <autocomplete [data]="positions" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.position_id"></autocomplete>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-3">
                                <label>Bộ trung tâm</label>
                                <autocomplete [data]="io_centers" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.io_center_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>{{_deviceCaptionService.rfid}}</label>
                                <autocomplete [data]="rfids" [name]="'name'" [model_name]="'id'" [(ngModel)]="filtering.rfid_id"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>Người dùng</label>
                                <autocomplete [data]="users" [name]="'fullname'" [model_name]="'fullname'" [(ngModel)]="filtering.fullname"></autocomplete>
                              </div>
                              <div class="col-md-3">
                                <label>SĐT</label>
                                <autocomplete [data]="users" [name]="'phone'" [model_name]="'phone'" [(ngModel)]="filtering.phone"></autocomplete>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <button class="btn m-b-xs w-xs btn-info btn-rounded"
                                    type="button"
                                    (click)="search()">Tìm kiếm
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                      Danh sách nhân viên đã cấp {{_deviceCaptionService.card}}
                    </div>
                    <div class="panel-body">
                      <spinner-fb [isLoading]="isLoading"></spinner-fb>
                      <xdatatable [action]="action_data" [body]="user_cards" [header]="header" (onClicked)="actionCrud($event)"></xdatatable>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="menu2" class="tab-pane fade">
              <div class="row">
                <div class="col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading font-bold">Cấp {{_deviceCaptionService.card}} cho nhân viên</div>
                    <div class="panel-body">
                      <form class="bs-example form-horizontal">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">{{_deviceCaptionService.card}}:</label>
                              <div class="col-sm-10">
                                <div class="radio" *ngFor="let card of cards">
                                  <label class="i-checks">
                                    <input type="radio" name="card_id" [(ngModel)]="user_card.card_id" [value]="card.id">
                                    <i></i>
                                    {{ card.name }} | {{ card.code }} | {{ card.description }}
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label class="col-sm-2 control-label">Nhân viên:</label>
                              <div class="col-sm-10">
                                <div class="radio" *ngFor="let user of staffs">
                                  <label class="i-checks">
                                    <input type="radio" name="user_id" [(ngModel)]="user_card.user_id" [value]="user.id">
                                    <i></i>
                                    {{ user.fullname }}
                                  </label>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn m-b-xs w-xs btn-primary btn-rounded" (click)="saveOne()">Lưu</button>
                                <button class="btn m-b-xs btn-rounded btn-default btn-addon" (click)="clearOne()"><i class="fa fa-eraser"></i>Làm mới</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <modal [objectData]="modal" (onClicked)="confirmDeactivateOne($event)"></modal>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /content -->