<!--<div class="well well-lg">-->
<!--Selected Row : <strong>{{selectedRow}}</strong>-->
<!--</div>-->
<button class="btn m-b-xs btn-sm btn-primary btn-addon" (click)="clicked('add')" *ngIf="action_data.ADD">
  <i class="fa fa-plus"></i>Thêm
</button>
<button class="btn m-b-xs btn-sm btn-warning btn-addon" (click)="clicked('edit')" *ngIf="action_data.EDIT">
  <i class="fa fa-pencil"></i>Cập nhật
</button>
<button class="btn m-b-xs btn-sm btn-danger btn-addon" (click)="clicked('delete')" *ngIf="action_data.DELETE">
  <i class="fa fa-trash-o"></i>Xóa
</button>
<button id="btn-show-modal" data-toggle="modal" data-target="#modal-confirm" hidden></button>
<div class="table-responsive">
  <table class="table table-striped b-t b-b">
    <thead>
    <tr>
      <th>#
        <i class="fa fa-sort-desc" *ngIf="isAsc" (click)="sortIndex('desc')"></i>
        <i class="fa fa-sort-asc" *ngIf="!isAsc" (click)="sortIndex('asc')"></i>
      </th>
      <ng-container *ngFor="let key of header_data | ObjNgFor">
        <th *ngIf="visible(header_data[key]['visible'])">{{header_data[key]['title']}}</th>
      </ng-container>
      <!--<th *ngFor="let key of header_data | ObjNgFor">{{header_data[key]['title']}}</th>-->
    </tr>
    </thead>
    <tbody>
    <!-- Use ng2-pagination -->
    <!--<tr *ngFor="let tr of body_data | paginate: { id:id_pagination, itemsPerPage: 10, currentPage: p }; let i = index"-->
    <tr *ngFor="let tr of pagedItems; let i = index"
        (click)="setClickedRow(i)" [class.active]="i == selectedRow">
      <td>{{i + 1}}</td>
      <ng-container *ngFor="let key of header_data | ObjNgFor">
        <td *ngIf="visible(header_data[key]['visible'])" [innerHTML]="tr[key] | safeHtml"></td>
      </ng-container>
      <!--<td *ngFor="let key of header_data | ObjNgFor" [innerHTML]="tr[key] | safeHtml"></td>-->
    </tr>
    </tbody>
  </table>
</div>
<div class="text-right">
  <!-- Use ng2-pagination -->
  <!--<pagination-controls [id]="id_pagination" (pageChange)="p = $event"-->
  <!--[previousLabel]="utilitiesService.previousLabel"-->
  <!--[nextLabel]="utilitiesService.nextLabel"-->
  <!--[screenReaderPaginationLabel]="utilitiesService.screenReaderPaginationLabel"-->
  <!--[screenReaderPageLabel]="utilitiesService.screenReaderPageLabel"-->
  <!--[screenReaderCurrentLabel]="utilitiesService.screenReaderCurrentLabel">-->
  <!--</pagination-controls>-->
  <!-- pager -->
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(1)">Đầu</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}">
      <a (click)="setPage(pager.currentPage - 1)">Trước</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
      <a (click)="setPage(page)">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.currentPage + 1)">Sau</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
      <a (click)="setPage(pager.totalPages)">Cuối</a>
    </li>
  </ul>
</div>